includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9

    paths:
        - Src
        - Tests

    tmpDir: var/phpstan

    reportUnmatchedIgnoredErrors: true

    treatPhpDocTypesAsCertain: true

    checkExplicitMixed: true
    checkImplicitMixed: true

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true

    inferPrivatePropertyTypeFromConstructor: true

    universalObjectCratesClasses: []

    excludePaths:
        analyse:
            - vendor